
.photo-frame{
    width:300px;
    border: 5px solid blue;
    margin: 10px;
    padding:15px;
}


.MarksheetTable , th , td{
    border: 2px solid rgb(23, 137, 230);
    padding:2px;
}

.MarksheetTable tr:nth-child(even) {
  background-color: rgb(233, 163, 12);
  color:black;
}

.MarksheetTable tr:first-child{
    background-color:rgb(21, 161, 216);
    font-weight: bolder;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(127, 238, 255, 0.733);
    padding: 20px;
    margin: 20px;
}
.profileCards {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    max-width: 350px;
}
.profilePic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgb(95, 255, 47);
}